body {
    background-color:lavender;
}
main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-template-rows: 40px auto;
}

h3 {
    grid-row: 1;
    grid-column: 1/4;
    text-align: center;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.mb-3 {
    grid-row: 2;
    max-width: 30rem;
}

.card.one {
    background-color:cornflowerblue;
}

.card.two {
    background-color: coral;
}

.card.three {
    background-color:lightseagreen;
}

.btn.btn-primary {
    text-align: center;
}

